
/*-------------------------  CAMBIOS GENERALES  ------------------------------------------------*/

*{
    font-family: 'Roboto',light;
    font-weight: 300;
}


/*-------------------------  CAMBIOS EN EL HEADER  ------------------------------------------------*/

header {
    background-color: green;
    padding: 10px;
    font-weight: bold;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

header div h1, header div h2 {
    color: white;
    align-self: flex-start;
    font-weight: bold;
}


/*------------------------- CAMBIOS EN EL BODY Y MAIN, MAS GENERALES --------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
}

/*------------------------ CAMBIOS EN EL NAV --------------------------------------------------*/

nav {
    flex: 0 0 250px;
    background-color: lightgray;
    font-weight: bold;
}

nav p {

    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;


}


/*------------------------ CAMBIOS EN LAS CAJAS --------------------------------------------------*/

.box {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: lightgray;
    border: 5px solid black;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
}

.box:focus {
    background-color: red;
    font-weight: bold;
    color:black;
}
.box a {
    text-decoration: none;
    color: inherit;
}



/*------------------------ CAMBIOS EN LA CLASE CONTENIDO --------------------------------------------------*/

.contenido {
    flex: 1;
    background-color: #00FFFF;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

.seccion-articulo {
    background-color: #00FFFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.seccion-articulo h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.seccion-articulo p {
    font-size: 16px;
    color: #000;
    margin: 5px 0;
    font-weight: bold;
}

/*------------------------ CAMBIOS EN LA CLASE COMPARATIVA-ARTICULOS --------------------------------------------------*/

    .resultados-comparacion {
        background-color: #f5e9db;
        padding: 40px;
        padding-left: 10px;
        margin: 0;
        border-radius: 5px;
        color: black;
        text-align: left;

    }

    .resultados-comparacion h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: left;
        padding-top: 0;
        margin-left: 0;
        position: relative;
        top: -20px;
        width: 100%;
        margin-top: 25px;
        font-weight: bold;

    }

    .comparativa-articulos h2{
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
    }

    .campo-comparacion {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .articulo-box {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f5e9db;
        width: 400px;
        height: 20px;
        align-items: center;
        margin: 0px 10px;
    }
/*------------------------ CAMBIOS EN EL FOOTER --------------------------------------------------*/

footer {
    background-color: green;
    color: white;
    padding: 35px;
    text-align: center;
    margin-top: auto;
}







